.forecast-block {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  /* overflow:hidden;
  width:auto;
  max-width: 100vh; */
}

.forecast-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;

  max-width: 70%;
}

.forecast-title {
  text-align: start;
}

hr {
  margin-top: 0.5rem;
}

.forecast-row {
  text-align: start;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;

  overflow: auto;
}

.hour-item {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.hour-item:last-child {
  margin-right: 0;
}

.hour-item .day-data-time {
  margin: 0;
  font-size: 1rem;
  display: inline-flex;
}

.hour-item img {
  width: 4rem;
  height: 4rem;
  color: #fff;
}

.forecast-temp {
  font-size: 1.2rem;
}


@media screen and (max-width: 720px){
  .forecast-container {
    max-width: 98%;
  }
}

@media screen and (max-width: 620px){
  .forecast-title {
    padding: 0 1rem;
  }
}