.forecast-block {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  /* overflow:hidden;
  width:auto;
  max-width: 100vh; */
}

.forecast-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: flex-start;

  max-width: 70%;
}

.forecast-title {
  text-align: start;
}

hr {
  margin-top: 0.5rem;
}

.forecast-row {
  text-align: start;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;

  overflow: auto;
}

@media screen and (max-width: 720px){
  .forecast-container {
    max-width: 98%;
  }
}

@media screen and (max-width: 620px){
  .forecast-title {
    padding: 0 1rem;
  }
}