
.dateAndTime {
  font-size: 1rem;
  color: #e6e6e6;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dateAndTime p {
  padding: 0 0.8rem;
  line-height: 1;
}

.dateAndTime p:nth-child(2) {
  border-left: 1px solid #e6e6e6;
}

.TimeAndLocation .location h2 {
  margin: 1rem auto 1.5rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

@media screen and (max-width: 337px){
  .dateAndTime p:nth-child(2) {
    border: none;
  }
}
