.top-buttons-container{
  padding: 0 5rem;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.top-buttons {
  /* text-align: center; */
  color: #dbdbdb;
  text-decoration: none;
  border: none;
  transition: 0.2s ease-out;
}

/* .top-buttons:focus {
  color: #fff;
  font-size: 1,2rem;
  font-weight: bold;
  border: none;
} */

.top-buttons:hover {
  color: #fff;
  /* font-size: 1,2rem; */
  transform: scale(1.2)
}

.top-buttons:focus, .top-buttons:active {
  color: #fff;
  font-weight: bold;
  box-shadow: none;
  border: none;
  transform: scale(1.2)
}

@media screen and (max-width: 1140px){
  .top-buttons-container  {
    padding: 0;
  }
}